
.mainBoxContactame{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    /* height: 100vh; */
}

.contactame-title{
    font-size: xx-large;
    text-align: center;
}

    .box1Contactame{
        width: 50%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

