
@font-face {
  font-family: 'Oswald', sans-serif;
  src: url('./fonts/Oswald-Bold.ttf') format('ttf');
}

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  font-family: oswald, sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.body{
  /* background-color: aqua; */
  height: 100%;
}

/* #root{
  background-color: aquamarine;
  height: 100%;
} */

code {
  font-family: oswald, sans-serif ;
}

div{
  font-family: oswald, sans-serif ;
}

